<div class="list-group">
  <% cache(@account.username, :expires_in => 1.hour) do %>
    <% @account.tweets.each do |tweet| %>
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading"><%= tweet.user.screen_name %> - <%= time_tag tweet.created_at, class: :timeago %></h4>
        <p class="list-group-item-text"><%= replace_mentions tweet.text %></p>
      </a>
    <% end %>
  <% end %>
</div>
