<div class="list-group">
  <% @account.tweets.each do |tweet| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= time_tag tweet.created_at, class: :timeago %>
      </div>
      <div class="panel-body">
        <%= formatted_tweet_text tweet.text %>
      </div>
    </div>
  <% end %>
</div>
